*{
  margin:0px;
  font-family: sans-serif;

}

.header{
  width: 98%;
  height: 80px;
  padding: 1%;
  background-color: #195A79;
  text-align: left;

}
.title{
  width: 80%;
  font-size: 50px;
  color: white;
  text-shadow: 2px 4px 8px #000000;
  padding: 10px;
  float: left;
}
.menu{
  width:8%;
  float:right;

}
#menubutton{
  float: right;
  margin-right: 10px;
  margin-top: 5px;
  width:70%;
  height: auto;

}
.bar1{
  margin-top: 1px;
  background-color: #1C8D6C;
  width:98%;
  padding: 1%;
  height: 50px;
}
.heading{
  width: 20%;
  float:left;
  color: white;
  margin-top: 10px;
  font-size: 20px;
  height: 50px;
}
.headingleft{
  width: 80%;
  float:left;
  color: white;
  margin-top: 20px;
  font-size: 20px;
  height: 50px;
}
.body{
  background-color: #E4E5E5;
  width:100%;
  min-height: 500px;
  padding-top: 10px;
}
.filling{
  width:90%;
  margin-left: 2%;
  background-color: white;
  border-radius: 2%;
  padding:3%;
  height:500px;
  color: #595959;
}
.menubar{
  position: absolute;
  margin-left: 78%;
  background-color: #B0B0B0;
  width:20%;
  margin-top: 60px;
  min-height:200px;
  color: #2D2D2D;
  font-size: 25px;
  text-align: center;
  z-index: 1000;
}
.menubar ul{
  list-style-type:  none;
  margin: 0px;
  padding:0px;
  text-decoration:none;
}
.menubar li{

  float: left;
  width: 100%;
  height: 50px;
  margin-left: 0px;
  text-decoration: none;
  list-style: none;
  border: 0.5px solid  white;
  border-radius: 3%;
  padding-top: 5%;
  font-weight: bold;
}
.menubar a{

}
.menubar li:hover{
  background-color: #2D2D2D;
  color:white;
  cursor:pointer;
}
#menubutton:hover{
  cursor:pointer;
}
.left{
  width: 50%;
  float: left;
}
.right{
  width: 45%;
  margin-left: 5%;
  float: left;
  min-height: 400px;
}
#formname{
  height:40px;
  width:250px;
  background-color: #F1F1F1;
  color: #37A160;
  border: solid 3px #5A5A5A;
  border-radius: 5%;
  margin: 10px 30px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
#formname:focus{
  border: solid 3px #37A160;
  border-radius: 5%;
  outline: none;
}
#formsubmit{
  height:60px;
  width:420px;
  background-color: #39AB7C  ;
  color: white;
  border: solid 1px #5A5A5A;
  border-radius: 3%;
  margin: 30px 30px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
#formsubmit:hover{
  background-color:#04603E;
  border-radius: 5%;
  outline: none;
}
#itemname{
  background-color: #EEEEEE;
  outline: none;
  border: none;
  font-size:15px;
  color:green;
  text-align: center;
  margin-left: 10px;
  resize: none;
}
#itemhead{
  background-color: white;
  outline: none;
  border: none;
  font-size:15px;
  color:green;
  text-align: center;
  margin-left: 10px;
  resize: none;
}
#singleprice{
  font-size:15px;
  color:grey;
  margin-left: 20px;
  margin-right: 20px;
}
#totalprice{
  font-size:20px;
  color:black;
  margin-left: 20px;
  margin-right: 20px;
}
#formremove{
  height:40px;
  width:80px;
  background-color: #C66A7C;
  color: white;
  border: solid 1px #5A5A5A;
  border-radius: 3%;
  margin-left: 10px
  font-size: 15px;
  font-weight: bold;
  transform:translateY(-15px);
  padding: 5px;
}
#formremove:hover{
  background-color:maroon;
  border-radius: 5%;
  outline: none;
}
#formupdate{
  height:40px;
  width:80px;
  background-color: #39AB7C;
  color: white;
  border: solid 1px #5A5A5A;
  border-radius: 3%;
  margin-left: 10px
  font-size: 15px;
  font-weight: bold;
  transform:translateY(-15px);
  padding: 5px;
}
#formupdate:hover{
  background-color:green;
  border-radius: 5%;
  outline: none;
}
